
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Project name</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="../auth/login">Login</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>


<h1>{{title}}</h1>

<p>This is a node app to use as a starting point for new projects.
    It comes loaded with Express, Bootstrap (with LESS), and hbs (an express view engine for Handlebars).</p>
<p>Feel free to use it for yourself!</p>



